.dashboard-navbar {
    background-color: #19364c;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.dashboard-navbar .card {
    width: 200px !important;
}

.dashboard-navbar .cursor-pointer {
    cursor: pointer;
}

.dashboard-navbar .no-decoration {
    text-decoration: unset !important;
}

.profile-card {
    background-color: #FFFFFF;
}

.img-profile {
    position: relative;
}

.edit-profile {
    position: absolute;
    padding: 10px 12px;
    bottom: -30px;
    left: 50%;
    border-radius: 50px;
    background-color: #1eb8fb;
    transform: translate(-50%);
    color: #FFFFFF;
    text-align: center !important;
    box-shadow: 0px 0px 20px 0px rgba(70,70,70,0.7);
}

.edit-profile:hover {
    cursor: pointer;
}

.create {
    font-size: 20px !important;
}

.primary-text {
    color: #1eb8fb !important;
}

.logout-link {
    background-color: #1eb8fb;
    color: #FFFFFF;
    margin: 0px !important;
    padding: 5px !important;
    position: relative;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.logout-link:hover {
    cursor: pointer;
    background-color: #01a0e4;
}

ul {
    padding: 0px !important;
}